ul::-webkit-scrollbar {
    display: none !important;
  }
   
  ul {
    -ms-overflow-style: none !important;   
    scrollbar-width: none !important; 
 }

// external import
@import "aos/dist/aos.css";

// import utils
@import './utils/fonts'; 
@import './utils/variables';
@import './utils/animation';
@import './utils/colors';
@import './utils/responsive';


// import layouts
@import './layouts/header';


// import components


// import pages
@import './pages/indexPage';
 

