 
.bg-muted{
    background: $bg-muted !important;
}
.activeLink{
    color: $linkBorder !important;
}

.btnNavLogBg{
    background:$btnNavLogBg;
    color:white !important;
    border:none;
 
}



 