//colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$bg-muted: #f7f8f7;
$linearRightBg:linear-gradient(92deg, #214293 -18.91%, #ec2127 149.59%);
$linearLeftBg:linear-gradient(92deg, #ec2127 -18.91%, #214293 149.59%);
$linkBorder:#75095e;
$mobileNav:linear-gradient(334deg, #214293 -18.91%, #663240 109.59%, #ad57b2 149.59%, #3c0e3e 149.59%);
$btnNavLogBg:linear-gradient(92deg, #ec2127 -18.91%, #214293 149.59%)