.categories {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top:1rem;
  .sideBar {
    background: linear-gradient(92deg, #214293 -18.91%, #ec2127 149.59%);
    flex-shrink: 0;
    width: 250px;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    ul {
      list-style: none;
      padding: 3rem;
      padding-top: 2rem;
      padding-right: 0;
      padding-bottom: 0;
      li {
        cursor: pointer;
        padding: 10px 15px;
        color: white;
        font-size: 14px;
        margin-bottom: 4px;
        transition: background 0.3s, transform 0.3s;
        &:active,
        &:hover {
        //background: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.902);
        color:black;
        transform: translateX(10px);
        font-weight: bold; 
        transform: scale(1.1);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
        border-radius: 14px; 
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}
    }
  }

.categoriesCustomList{
    display:flex;
   flex-shrink: 1;
   flex-wrap:wrap;
   justify-content: space-around;
    padding-left:4rem;
    gap:0rem 2rem; 
    overflow-y: scroll;
    height:100vh;
    -ms-overflow-style: none !important;   
    scrollbar-width: none !important; 
    .card{ 
        border:none;
        width: 215px !important; 
        cursor: pointer;
        img:hover{
        transition:  0.3s, transform 0.3s;
        transform: scale(1.1);
   
}
        }
}

}
    .sideBar-active{ 
    background: rgba(255, 255, 255, 0.902);
    color:black !important;
    transform: translateX(10px);
    font-weight: bold; 
    transform: scale(1.1);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    }