.indexPage {
  .heroBg {
    .bgHeroContainer {
      height: 74vh;
      width: 100%; // position:absolute;
      // inset: 0;
      // top:9rem;
      // z-index: 0;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .textHeroBg {
    position: absolute; // background:red;
    padding: 5rem 2rem; // inset: 0;
    top: 9rem; // z-index: 0;
    .imgherobg.img {
      width: 90% !important;
    }
    .topImage {
      width: 150px !important;
    }
    h1 {
      font-size: clamp(20px, 5vw + 10px, 49.29px);
      font-weight: 700;
      line-height: 71px;
      text-align: left;
      color: white;
      max-width: 707px;
      gap: 0px;
    }
    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      max-width: 628px;
    }
    .Typical {
      display: inline;
      font-size: clamp(20px, 5vw + 10px, 49.29px);
      font-weight: 700;
      line-height: 71px;
      text-align: left;
      color: rgba(255, 211, 51, 1);
      max-width: 707px;
      gap: 0px;
      padding-left: 1rem;
    }
  }
  .ContainerBox {
    margin-top: 6rem !important;
    padding: 0 4rem;
  }
  .productContainer {
    .header {
      width: 95%;
      margin: auto;
      margin-bottom: 1rem;
      align-items: center;
      h1 {
        font-family: Poppins;
        font-size: 40px ;
        font-weight: 700;
        line-height: 37px;
        text-align: left;
        color: $primary;

      }
      h3 {
        font-family: Poppins;
        font-size: 21px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: $secondary; 
      } 
      h4 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        color: $secondary;
      }
      p{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

      }
      display: flex;
      justify-content: space-between;
      .location_text {
        color: $primary-color;
        font-weight: 700;
      }
    }
    margin-top: 4rem;
    .products {
      display: flex;
      width: 95%;
      align-items: center;
      margin: auto;
      .btn {
        width: Hug (36px) px;
        height: Hug (34px) px;
        padding: 5px 6px 5px 6px;
        gap: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        background: rgba(232, 238, 255, 1);
      }
    }
    .productList {
      display: flex;
      width: 94%;
      margin: auto;
      overflow-x: scroll;
      padding: 0;
      li {
        list-style: none;
        margin: 0 1.5rem;
        .productImage {
          width: 250px !important;
          height: 180px;
          border-radius: 10px 0px 0px 0px;
        }
      }
    }
  }
}